<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibnu.dbestokasir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DbestoKasir"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>

        <activity android:name=".Pelayanan.QrPelayanan"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Pelayanan.PelayananMain">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Presensi.QrPresensi"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Penilaian.PenilaianMain"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".admin.RegisterActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Presensi.PresensiBerhasil">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".admin.AdminMain"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Penilaian.Terbaik.AdminPenilaian"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

<!--        meja pemesanan-->
        <activity android:name=".Pelayanan.Meja.Pemesanan"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pelayanan.Meja.Pemesanan2"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pelayanan.Meja.Pemesanan3"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pelayanan.Meja.Pemesanan4"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pelayanan.Meja.Pemesanan5"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pelayanan.Meja.Pemesanan6"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>